#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../illustration.jpg") no-repeat center center fixed;
}

img {
    margin-bottom: 10px;
}

body {
    margin: 0;
    position: fixed;
}

.login-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../illustration.jpg") no-repeat center center fixed;
}

.login-panel {
    text-align: center;
    margin: 0 0 0 60%;
    width: 40%;
    height: 100%;
    background: white;
}

.login-field {
    margin: 10% 0 20%;
    width: 40%;
    height: 60%;
    position: fixed;
}

.message-panel {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    margin: 0 0 20px;
}

.input-panel {
    font-family: "Quicksand", sans-serif;
    width: 200px;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.input-panel:focus {
    outline: 0;
    outline-offset: 0;
}

.btn-secondary {
    margin: 16px 0 0;
    width: 120px;
    background: #23c664;
}

.login-field h1, h2 {
    margin: 20% 0 0;
    font-weight: normal;
}

/* Home */

.main-page{
    background: rgba(255,255,255, .65);
    width: 100%;
    height: 100%;
    position: fixed;
    outline: 0;
    margin: 0 0 0 0;
}

.top-panel {
    background-color: #23C664;
    overflow: hidden;
    position: relative;
    float: top;
    height: 50px;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0 6px 0 rgba(25, 25, 34, .16);
}

.top-panel button{
    background-color: rgb(0, 255, 0, .0);
    width: 140px;
    margin: 0;
    padding: 0;
    border: 0;
}

.top-panel .top-name {
    color:white;
    display: block;
    float: right;
    width: 120px;
    height: 50px;
    padding: 0 5px 0 5px;
    overflow: hidden;
    text-align: center;
}

.top-panel .top-name:hover {
    color:black;
    display: block;
    float: right;
    background: rgba(255, 255, 255, .70);
    width: 120px;
    height: 50px;
    padding: 0 5px 0 5px;
    overflow: hidden;
    text-align: center;
}

.top-panel h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    padding: 15px 0 0;
    margin: 0;
}

.top-panel .func-panel {
    float: left;
}

.func-panel .top-name {
    color:white;
    display: block;
    float: right;
    width: 140px;
    height: 50px;
    padding: 0 5px 0 10px;
    overflow: hidden;
    text-align: center;
}
.func-panel .active {
    color:black;
    display: block;
    float: right;
    background: rgba(255, 255, 255, .70);
    width: 140px;
    height: 50px;
    padding: 0 5px 0 10px;
    overflow: hidden;
    text-align: center;
}

.func-panel .top-name:hover {
    color:black;
    display: block;
    float: right;
    background: rgba(255, 255, 255, .70);
    width: 140px;
    height: 50px;
    padding: 0 5px 0 10px;
    overflow: hidden;
    text-align: center;
}

.top-panel .pers {
    display: block;
    float: left;
    width: 200px;
    height: 60px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.top-panel .conc {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    margin: 0;
    text-align: center;
}

.cont h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    color: black;
    font-weight: lighter;
    margin: 10px 0 10px 11px;
}

.control-panel {
    display: block;
    position: fixed;
    z-index: 1;
    float: left;
    background: rgba(255, 255, 255, .70);
    height: 100%;
    width: 280px;
    padding: 5px 20px 0;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 5px 2px rgba(0, 0, 0, 0.14);
}

.list-option div {
    display: block;
    width: 240px;
    height: 20px;
    margin: 0;
    padding: 6px 0 0;
}

.list-option .headline {
    font-size: 17px;
    margin: 0 0 10px;
    display: block;
    width: 220px;
    height: 30px;
    padding: 6px 0 6px;
}

.list-option  {
    display: block;
    width: 240px;
    height: 30px;
    margin: 0;
    padding: 6px 0 6px;
}

.list-option h2 {
    margin: 0 0 10px 0;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    letter-spacing: 0.02em;
    font-weight: normal;
}

.list-option h3 {
    margin: 0;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: normal;
}

.list-option select {
    margin: 0 0 12px;
    background: rgba(255, 255, 255, .00);
    width: 235px;
    padding: 2px 0 0;
    font-size: 14px;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
}

.list-option option {
    background: rgba(255, 255, 255, .00);
    border: 0;
}

.date {
    margin: 5px 0 12px;
    background: rgba(255, 255, 255, .00);
    width: 235px;
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    outline:none;
}

.time {
    margin: 5px 0 12px;
    background: rgba(255, 255, 255, .00);
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 235px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    outline:none;
}
.time-sett div{
    width: 100px;
}
.list-option button {
    background: #23C664;
    width: 90px;
    height: 30px;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 6px 0 10px;
    margin: 15px 0 30px;
    float: right;
}
